.recette{
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 30px;
    }
    .info{
        text-align: center;
    }
    .sous-info{
        display: flex;
        flex-direction: row;
        gap: 50px;
        .ingredient,
        .step {
            flex: 1; 
            min-width: 0; 
            p{
                margin-block-end: 50px;
            }
        }


        .ingredient{
            text-align: end;
        }
    
        .image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 

            img {
                width: 300px;
                height: auto;
                object-fit: cover; 
            }
        }
    }
}

.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}