.recette{
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .sous-info{
        display: flex;
        flex-direction: row;
        gap: 50px;
        .ingredient,
        .step {
            flex: 1; 
            min-width: 0; 
            p{
                line-height: 1.5;
            }
        }


        .ingredient{
            text-align: end;
        }
    
        .image {
            display: flex;
            flex-direction: column;

            img {
                width: 300px;
                height: auto;
                object-fit: cover; 
            }
        }
    }
}

.list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    flex-wrap: wrap;
}

.info{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 30px;
        text-align: center;
    }
    
}



.back{
    position: absolute;
    left: 0;
}