h2{
    text-align: center;
    margin: 20px;
    font-size: 26px;
}

h3{
    font-size: 20px;
}

.recipe{
    display: grid;
    margin: 0px 40px;
    gap: 30px;
    
    
}

.list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    flex-wrap: wrap;
}

.ingredient{
    text-align: end;
}

.step{
    p{
        line-height: 1.5;
    }
}

h4{
    font-weight: 600;
    margin: 0px;
    height: 10px;
}


.image{
    display: flex;
    justify-content: center;
    img{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .recipe {
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "ingredient"
            "step";
    }
    
    .image {
        grid-area: image;
    }
    
    .ingredient {
        grid-area: ingredient;
        text-align: start;
    }
    
    .step {
        grid-area: step;
    }

    .list{
        justify-content: start;
    }

    h2{
        font-size: 20px;
    }
}


@media (min-width: 769px) {
    .recipe {
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas: "ingredient image step";
    }
    
    .image {
        grid-area: image;
    }
    
    .ingredient {
        grid-area: ingredient;
    }
    
    .step {
        grid-area: step;
    }
}