.navigation{
  height: 70px;  
  margin: 20px 30px;
}

.nav-container{
  display: inline;
  align-items: center;
}

.brand {
  position: absolute;
  float: left;
  img{
    height: 80px;
  }
  
}

nav {
  float: right;
  background-color: #FFF5D6;
  border-radius: 10px;
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
    li {
      float: left;
      position: relative;
      img{
        width: 20px;
      }
      a {
        display: block;
        padding: 0px 20px;
        line-height: 50px;
        color: #5B351B;
        text-decoration: none;
        font-weight: 500;
        font-size: large;
        
        
         &::before {
           transition: 300ms;
           height: 3px;
           content: "";
           position: absolute;
           background-color: #5B351B;
           width: 0%;
           bottom: 0px;
        }

        &:hover::before{
          width: 80%;
        }
      } 
    }
  }
}



.burger-btn {
  display: none;
  background-color: #FFFAEE;
  position: fixed;
  float: left;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
  img{
    width: 30px;
  }
}

.title{
  display: none;
}

@media (max-width: 768px) {
  .brand {
    display: none;
    
  }
  .burger-btn {
    display: flex;
    margin: 10px 0px;
  }
  
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    background-color: #FFFAEE;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    transition: left 0.3s ease;
    padding: 2rem 0;
    gap: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .nav-menu.active {
    left: 0;
  }

  nav{
    float: left;
  }

  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF5D6;
    padding: 0px 10px;
    border-radius: 10px;
    float: right;
    gap: 20px;
    img{
      width: 40px;
    }
  }
  
}

