.navigation{
    height: 70px;
}

.nav-container{
    margin: 20px 40px;
}

.brand {
  position: absolute;
  float: left;
  img{
    height: 50px;
    margin-top: 10px;
  }
  
}



nav {
  float: right;
  background-color: #FFF5D6;
  border-radius: 10px;
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
    li {
      float: left;
      position: relative;
      img{
        width: 20px;
      }
      a {
        display: block;
        padding: 0px 20px;
        line-height: 50px;
        color: #5B351B;
        text-decoration: none;
        font-weight: 500;
        font-size: large;
        
        
         &::before {
           transition: 300ms;
           height: 3px;
           content: "";
           position: absolute;
           background-color: #5B351B;
           width: 0%;
           bottom: 0px;
        }

        &:hover::before{
          width: 80%;
        }
      } 
    }
  }
}



.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 600px) {
  .nav-mobile {
    display: block;
  }
  nav {
      width: 100%;
      padding: 70px 0 15px;
    ul {
      display: none;
      
      li{
        float: none;
        
        a {
          padding: 15px;
          line-height: 20px;
          
          &:hover::before{
            width: 20%;
          }
        }
      }
    }
  }

}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #5B351B;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: 600px) {
  .nav-list {
    display: block !important;
  }
}

