
.recipe{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #FFE891;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    padding: 0px 10px;
    gap: 10px;
    img{
        width: 50px;
    }
    

    .button{
        padding: 0px;
        img{
            width: 20px;
        }
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 10px;
    }
    
}


@media screen and (max-width: 750px) {
    .recipe{
        width: 230px;
        height: 60px;
        padding: 0px 20px;
    }
}