
.recipe{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    margin: 20px 0px;
    background-color: #FFE891;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    img{
        width: 50px;
    }
    
}
