.container{
    margin: 0px 5%;
    background-color: #FFF5D6;
    border-radius: 30px;
    box-shadow: 0px 4px 5px #5b351b46;
    margin-bottom: 30px;
}

.containerPreference{
    margin: 0px 10%;
    background-color: #FFF5D6;
    border-radius: 30px;
    box-shadow: 0px 4px 5px #5b351b46;
    margin-bottom: 30px;
}


.recipes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.recipesPreference{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0px 30px;
    padding-bottom: 30px;
}

.searchbar{
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #774b2e;
    background-color: #FFFAEE;
    border-radius: 30px;
    width: 360px;
    img{
        width: 20px;
    }
    input{
        width: 310px;
        color: #774b2e;
        font-family: 'Gluten', cursive;
        border: none;
        background-color: #FFFAEE;
        &::placeholder{
            color: #774b2e;
        }
    }
    input:focus{
        outline: none;
    }
}


.section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-bottom: 30px;
    
}

.left{
    padding-top: 15px;
    margin-left: 30px;
}

.norecipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 30px;
    img{
        width: 100px;
    }
}

.add-recipe{
    position: fixed;
    right: 50px;
    bottom: 30px;
    padding: 20px 20px;
    background-color: #774b2e;
    color: #FFDB4D;
}

.select-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-arrow{
    background-color: #FFF5D6;
    padding: 0px;
    img{
        width: 30px;
    }
}

.carroussel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
  .section{
    gap: 20px;
    justify-content: center;
    }
    .searchbar{
        width: 300px;
    }
    .recipesPreference{
    
    margin: 0px 10px;
    
}
}

