<div class="popup-overlay">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <h2>Préférence alimentaire</h2>
    <h3>Nous voulons mieux vous connaitre!</h3>
    <form [formGroup]="form">
      <div class="section">
        <label>Nombre de personne</label>
        <input type="number" formControlName="nbPerson" id="nbPerson">
      </div>
      <div class="section">
        <label>Régime alimentaire</label>
        <select formControlName="regimeId" id="regimeId">
            @for(regime of regimes;track regime.id){
                <option value="{{regime.id}}">{{regime.name}}</option>
            }
        </select>
      </div>
    </form>
    
    <div class="buttons">
        <button class="cancel" (click)="close()">
              <img src="https://img.icons8.com/?size=100&id=83143&format=png&color=ffe57f">
              Fermer
            </button>
        <button (click)="submit()">
            <img src="https://img.icons8.com/?size=100&id=l9lZ9gsA8vxG&format=png&color=774b2e" alt="save">
            Enregistrer</button>
    </div>
    
  </div>
</div>