.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

h3{
  font-weight: 500;
  margin-bottom: 30px;
}

.popup-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    margin: 20px 0px;
}

.section{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

select{
  font-family: 'Gluten', cursive;
  font-weight: 300;
  color: #774b2e;
  padding: 10px;
  border: 1px solid #774b2e;
  border-radius: 30px;
  background-color: #FFFAEE;
  width: 220px;
}

select:focus{
  outline: none;
}

input{
    width: 50px;
    border-radius: 30px;
    border: 1px solid #774b2e;
    background-color: #FFFAEE;
    padding: 10px;
    font-family: 'Gluten', cursive;
    font-weight: 300;
    color: #774b2e;
}

input:focus{
    outline: none;
    border-color: #774b2e;
}

@media screen and (max-width: 750px) {
  .popup-content{
    max-width: 300px;
  }
}