.myplanning{
    background-color: #FFF5D6;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    padding: 30px;
    
}

.text{
    margin: 0px 20px;
}

.planning-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow-x: none;
}

.day{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    h3{
        color: #5B351B;
        margin-bottom: 10px;
    }
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-weight: 300;
    color: rgb(119, 75, 46,0.5);
    background-color: #FFF5D6;
    width: 130px;
    height: 150px;
    border: 2px dashed rgb(119, 75, 46,0.5);
    border-radius: 30px;
}

@media screen and (max-width: 1200px) {
  .myplanning{
    margin: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .header{
    justify-content: center;
    margin-bottom: 10px;
  }
  .vide{
    width: 200px;
  }
}