<div class="myplanning">
    <div class="header">
        <div class="h2">
            <img src="https://img.icons8.com/?size=100&id=10053&format=png&color=774b2e" alt="Calandar">
            <h2>Planning de la semaine</h2>
        </div>
        <button (click)="modifyPlanning()" class="cancel">
            <img src="https://img.icons8.com/?size=100&id=59729&format=png&color=ffe57f" alt="Ball Point Pen">
            Modifier mon planning
        </button>
    </div>
    <p class="text">Organisez vos repas de la semaine</p>
    <div class="planning-page">
        @if(isloading){
            <app-loader/>
        }
        @else {
            @for(day of days; track day.id){
            <div class="day"> 
            <h3>{{day.name}}</h3>
            @if(day.listOfRecipe![0] && day.listOfRecipe![0].id !=0){
                <app-recipe-card [recipe]="day.listOfRecipe![0]"></app-recipe-card>
            }@else{
                <div class="vide">
                    <p>Pas de recette</p>
                </div>
            }
            @if(day.listOfRecipe![1] && day.listOfRecipe![1].id !=0){
                <app-recipe-card [recipe]="day.listOfRecipe![1]"></app-recipe-card>
            }@else{
                <div class="vide">
                    <p>Pas de recette</p>
                </div>
            }

            
            </div>
        }

        }
    </div>
</div>