.ingredient-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    .dropdownList{
        max-width: 250px;
    }
}

.ingredient-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.every-ingredient{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
input{
    width: 50px;
    border-radius: 30px;
    border: none;
    background-color: #FFFAEE;
    padding: 5px 30px;
    font-family: 'Gluten', cursive;
    font-weight: 300;
    color: #774b2e;
}

input:focus{
    outline: none;
    border-color: #774b2e;
}

input::placeholder{
    font-family: 'Gluten', cursive;
    font-weight: 300;
    color: rgb(119, 75, 46,0.5);
}



::ng-deep .dropdownList{
    width: 90%;
}

::ng-deep .dropdownList .selected-item {
  background: #774b2e !important;
  border: none !important;
}

::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:before {
  border: 2px solid #774b2e !important;
  color: #774b2e !important;
  width: 18px !important; 
  height: 18px !important;
}

::ng-deep .multiselect-item-checkbox input[type=checkbox]:checked + div::before {
  color: #774b2e !important;
  background: #774b2e !important;
}

@media screen and (max-width: 750px){
    button{
    p{
        display: none;
    }
}
}