.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #774b2e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}