table{
    border-collapse: collapse;
}
td{
    padding: 15px;
    text-align: center;
}

th{
    padding: 10px 30px;
    background-color: #FFF5D6;
}


.btn{
    cursor: pointer;
    img{
        width: 20px;
    }
}

.cancel{
    padding: 0px 20px;
}

.table-ing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 705px) {
    .none{
        display: none;
    }
}