.shopping-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.mylist{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #FFF5D6;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    padding: 20px 0px;
    width: 300px;
}