.planning-page{
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
}

.day{
    width: 100%;
    text-align: center;
    h2{
        color: #5B351B;
        font-size: 24px;
        margin-bottom: 50px;
    }
}

