

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}



.jaune{
    background-color: #FFF5D6;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    padding: 20px;
    width: 50%;
    margin-bottom: 45px;
    h2{
        text-align: center;
        font-size: 20px;
    }
}

.submit{
    padding: 20px 20px;
    font-size: 18px;
}

.cancel{
    
    font-size: 18px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
    .buttons{
        gap: 20px;
    }
    
}