

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    img{
        width: 25px;
    }

}

.jaune{
    background-color: #FFF5D6;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    padding: 20px;
    width: 750px;
    margin-bottom: 45px;
    h2{
        text-align: center;
        font-size: 20px;
    }
}

.submit{
    padding: 20px 20px;
    font-size: 18px;
}

.cancel{
    padding: 20px 20px;
    font-size: 18px;
    background-color: #774b2e;
    color: #FFDB4D;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 30px;
}