<form [formGroup]="form">
  <div class="selecting">
    <label for="name">Nom de la recette *</label>
    <input 
      type="text" 
      id="name" 
      formControlName="name"
      placeholder="Tarte aux pommes"
    />
    @if(form.get('name')?.invalid && form.get('name')?.touched){
        <p>Le nom est requis</p>
    }
  </div>

  <div class="form-group image">
    @if(imagePreview){
        <div class="imagePreview">
            <img [src]="imagePreview" alt="Aperçu de la recette" class="image"/>
            <img class="cross" (click)="removeImage()" src="https://img.icons8.com/?size=100&id=83143&format=png&color=774b2e">
        </div>
     }
    <div class="selecting">
    <label for="image">Image de la recette</label>
    <input 
      type="file" 
      id="image" 
      (change)="onFileSelected($event)"
      accept="image/*"
      hidden
    />
    <label for="image" class="file-button">
      <img src="https://img.icons8.com/?size=100&id=ctfuCrTkdAJ8&format=png&color=774b2e">
      Choisir une image
    </label>
    <small>* Formats acceptés: JPG, PNG, GIF (max 5MB)</small>
    </div>
  </div>
</form>