form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 16px;
}
label{
    font-size: 16px;
    font-weight: 500;
}
input{
    max-width: 60%;
    border-radius: 30px;
    border: none;
    background-color: #FFFAEE;
    padding: 10px 30px;
    font-family: 'Gluten', cursive;
    font-weight: 300;
    color: #774b2e;
}

input:focus{
    outline: none;
    border-color: #774b2e;
}

input::placeholder{
    font-family: 'Gluten', cursive;
    font-weight: 300;
    color: rgb(119, 75, 46,0.5);
}

.file-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding:  0px 20px;
    border-radius: 30px;
    border: none;
    background-color: #FFE891;
    font-family: 'Gluten', cursive;
    font-weight: 500;
    color: #774b2e;
    cursor: pointer;
    height: 30px;
    img{
        width: 20px;
    }
}
.selecting{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group.image{
    display: flex;
    flex-direction: column;
}

small{
    font-size: 12px;
    color: rgb(119, 75, 46, 0.5);
}

.imagePreview{
    display: flex;
    flex-direction: row;
    background-color: #FFE891;
    gap: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
    .image{
        margin-left: 10px;
        width: 150px;
    }

    .cross{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    
}