
.recipe{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #FFE891;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    img{
        width: 100px;
    }
    p{
        margin: 10px 20px;
    }
    
}

.recipe.selected {
  background-color: #FFDB4D; 
}

@media screen and (max-width: 750px) {
    .recipe{
        img{
            width: 110px;
        }
        
    }
}