.planning{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #FFF5D6;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    padding: 20px;
    margin: 0px 5%;
}

.day{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    h3{
        margin: 0px;
    }
}

.center{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
    margin: 0px 5%;
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 30px;
}

.taille{
    height: 30px;
}

.add-btn{
    width: 220px;
    height: 50px;
    background-color: #FFF5D6;
    
    border: 2px dashed rgb(119, 75, 46,0.5);
    img{
        width: 30px;
    }
}


@media screen and (max-width:750px) {

    .buttons{
        gap: 20px;
    }
    .bottom{
        position: fixed;
        justify-content: center;
        gap: 70px;
        bottom: -30px;
        background-color: #FFFAEE;
        padding: 20px;
        width: 100%;
    }

    .planning{
        margin-bottom: 100px;
    }
    .text{
        line-height: 1.2;
        font-size: 12px;
    }

    .add-btn{
        width: 270px;
        height: 60px;
    }
}