.planning{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #FFF5D6;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    padding: 10px;
    margin: 0px 10%;
}

.day{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
    margin: 0px 5%;
}

.submit{
    padding: 20px 20px;
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 30px;
}

.taille{
    height: 30px;
}

.add-btn{
    padding: 30px 20px;
    margin: 15px 0px;
    background-color: #774b2eb9;
    img{
        width: 30px;
    }
}
