.planning{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #FFF5D6;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    width: 1150px;
}

.day{
    width: 180px;
}

.center{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.submit{
    padding: 20px 20px;
}

.cancel{
    padding: 20px 20px;
    background-color: #774b2e;
    color: #FFDB4D;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 30px;
}

.taille{
    height: 30px;
}

.add-btn{
    width: 200px;
    margin: 30px 0px;
}