.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icone{
    border: 2px dashed #774b2e;
    border-radius: 360px;
    padding: 20px;
}
h2{
    margin: 0;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    img{
        width: 25px;
        height: 25px;
    }
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 90px;
    
}

.name{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.jaune{
    background-color: #FFF5D6;
    padding: 30px;
    border-radius: 30px;
    h3{
        text-align: center;
    }
}
.modify{
    background-color: #FFFAEE;
    padding: 0;
    
}

@media screen and (max-width: 750px) {
    .info{
        gap: 20px;
    }
}