table{
    border-collapse: collapse;
}
td{
    padding: 15px;
    text-align: center;
    max-width: 250px;
    word-wrap: break-word;     
    overflow-wrap: break-word; 
    white-space: normal;
    img{
        width: 50px;
    }
}

th{
    padding: 10px 30px;
    background-color: #FFF5D6;
}



.btn{
    cursor: pointer;
    img{
        width: 20px;
    }
}

.table-ing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 705px) {
    .none{
        display: none;
    }
}