
.recipe{
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: wrap;
    h3{
        color: #795035;
        font-weight: 400;
    }
    cursor: pointer;
    margin: 20px 0px;
    background-color: #FFE891;
    box-shadow: 0px 4px 5px #5b351b46;
    border-radius: 30px;
    img{
        width: 100px;
    }
    
}