.content{
    background-color: rgb(255, 219, 77, 0.8);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: wrap;
    margin: 10px;
    width: 200px;
    height: 150px;
    h3{
        color: #795035;
        font-size: 14px;
        font-weight: 300;
    }
    cursor: pointer;
    img{
        width: 60%;
    }
}