.content{
    position: relative;
    margin: 20px 10px;
    background-color: #ffdb4d66;
    border-radius: 10px;
    img{
        width: 60%;
        max-width: 300px;
    }
    
}

.cross{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: wrap;
    h3{
        color: #795035;
        font-size: 14px;
        font-weight: 400;
    }
    cursor: pointer;
    
}