.image{
    padding: 20px;
    width: 20px;
    border-radius: 40px;
    border: 2px dashed #FFE891;
}

.ing{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    p{
        padding: 0px;
    }
}

h4{
    font-weight: 500;
    margin: 0px;
    height: 10px;
}
