
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {background-color: #FFFAEE;}
body { margin: 0; font-family: 'Gluten', cursive; overflow-x: hidden; color: #774b2e;}
h2{ font-size: 20px;}
h3{ font-size: 16px;}
p{font-size: 14px;}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #FFE891;
    font-family: 'Gluten', cursive;
    font-weight: 500;
    color: #774b2e;
    cursor: pointer;
    height: 30px;
    img{
        width: 16px;
    }
}


.back{
    background-color: #FFFAEE;
    img{
        width: 30px;
    }
    margin: 20px 10%;
}

@media screen and (max-width: 450px){
    .back{
        display: none;
    }
}

.h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    img{
        width: 20px;
    }

}

.cancel{
    background-color: #774b2eca;
    color: #ffe57f;
}

.btn-arrow{
    background-color: #FFF5D6;
    padding: 0px;
    img{
        width: 30px;
    }
}

body::-webkit-scrollbar {
  width: 14px; 
}

body::-webkit-scrollbar-track {
  border-radius: 30px;
}

body::-webkit-scrollbar-thumb {
  background-color: #774b2e; 
  border-radius: 30px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #FFE891; 
}

@media screen and (max-width: 750px){
    h2{ font-size: 18px;}
    h3{ font-size: 14px;}

    

    .cancel{
        padding: 16px 16px;
        font-size: 12px;
        img{
            width: 15px;
        }
    }

    button{
        padding: 16px 16px;
        font-size: 14px;
    }
    
}