
html, body { height: 100%; }
body { margin: 0; font-family: 'Gluten', cursive; overflow-x: hidden; color: #774b2e;}
button{
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    background-color: #774b2e;
    font-family: 'Gluten', cursive;
    font-weight: 300;
    color: white;
    cursor: pointer;
}