<div class="container">
  <form>
    <div class="textarea-list">
      
      @for(field of textareaFields; let i = $index; track field.id){
        <div class="steps">
          <label>Etape {{ i+1 }}</label>
            <textarea
              [(ngModel)]="field.description"
              [name]="'textarea_' + field.id"
              (ngModelChange)="onTextareaChange()"
              rows="4"
              placeholder="Saisissez votre texte ici..."
            ></textarea>
            <button 
              type="button" 
              (click)="removeTextarea(i)"
              [disabled]="textareaFields.length === 1"
            >
            <img src="https://img.icons8.com/?size=100&id=68064&format=png&color=774b2e">
              Supprimer
            </button>

      </div>
      }
      
    </div>

    <div class="button-group">
      <button type="button" class="btn-add" (click)="addTextarea()">
        <img src="https://img.icons8.com/?size=100&id=60953&format=png&color=774b2e" alt="Add">
        Ajouter une étape
      </button>
    </div>
  </form>

  
</div>